@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800;900&display=swap');

.App{
  background-color: white;
  display: flex;
  align-items: center;
}

.app-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Playfair Display', serif;
}

.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon:hover, .icon:active {
  color: blue;
}

#icons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 25%;
  text-align: center;

}

#address{
  grid-column: 1/2;
  grid-row: 1/2;
}

#envelope{
  grid-column: 1/2;
  grid-row: 2/3;
}

#cake{
  grid-column: 1/2;
  grid-row: 3/4;
}

#map{
  grid-column: 2/3;
  grid-row: 1/2;
}

#phone{
  grid-column: 2/3;
  grid-row: 2/3;
}

#key{
  grid-column: 2/3;
  grid-row: 3/4;
}

.profile-pic{
  border-radius: 50%;
}

.profile, .contact, .socials{
  padding-left: 7%;
  padding-right: 7%;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-evenly;

}

.contact{
  margin-bottom: 50px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input{
  margin-top: 10px;
  margin-bottom: 10px;
}
input, textarea, button {
  width: 90%;
}

input{
  border: none;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: 'Playfair Display', serif;
}

button {
  background-color: white;
  box-shadow: 0px 1px 1px 0px black;
  height: 25px;
  font-family: 'Playfair Display', serif;;
}

button:hover, button:active{
  background-color: blue;
  color: white;
  box-shadow: none;
  border: none;
}

textarea{
  resize: none;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

.bio{
  font-size: 12px;
}

@media only screen and (min-width: 500px) {

  .App{
    display: flex;
    justify-content: space-around;
  }

  .app-container{
    width: 500px;
  }

}

@media only screen and (min-width: 750px) {

  .App{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .app-container{
    width: 700px;
  }

  .top-container{
    flex-direction: column;
  }

  #icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
  }

  .profile-pic{
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .bio{
    width: 75%;
  }

}

@media only screen and (min-width: 1200px) {

.app-container{
  width: 1200px;
}

.profile{
  display: flex;
  flex-direction: row;
}

.bottom-container{
  margin-left: 50px;
}

.contact{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  height: 100px;
}

}